<p id="notice"><%= notice %></p>

<form action="result" method="get">
  <div class="form-group">
    <label for="exampleInputEmail1">生年月日</label>
    <input type="text" class="form-control" placeholder="生年月日を入れてください。">
    <small class="form-text text-muted">あなたの今日の運勢を占います。</small>
  </div>
  <button type="submit" class="btn btn-primary">占う！</button>
</form>
